:root{
  --primaryColor: #bc4123;
  --secondaryColor: #2b3452;
}

body {
  margin: 0;
  /* padding:20px; */
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: var(--secondaryColor); */
}

*{
  color: gray;
  margin: 0;
}

/* nav bar  */

header {
  position: fixed;
  width: 100%;
  background-color: #fff;
}
header nav{
  display: flex ;
  justify-content: center;
  padding: 20px 30px 30px 30px;
  align-content: space-around;
}
.logohome{
  margin-right: 20px;
  padding:0;
}
.wholeSearch{
  width:58%;
  border: solid 1px lightgray;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  height: 35px;
  margin-right: 15px;

}
.searchBox{
  border: none;
  outline: none;
  width: 90%;
  height: 95%;
  border-radius: inherit;
  background-color: transparent;
  
}

.searchButton{
  width: 40px;
  background: url(https://cdn-icons-png.flaticon.com/512/108/108138.png?w=740&t=st=1685099654~exp=1685100254~hmac=ba716d8c926170341fbdc5ca03786b3ca18db838c4da1b610188e6cfdacb2f6a) no-repeat center;
  background-size: 15px;
  border: transparent;
  margin: 0.4rem 0;
  border-radius: inherit;
  opacity: 0.4;
}

.searchButton:hover{
  opacity: 0.8;
  cursor: pointer;
}

header nav a{
  display:flex;
  align-items: center;
  text-decoration: none;
  justify-content: end;
  padding: 0 10px; 
  font-size: 1rem;
}
header nav button{
  border: none;
  margin: 0 20px;
  font-family: "Poppins";
}
header nav i{
  display: flex;
  align-items: center;
  justify-content: end;
  padding:0 15px;
}
.menuBar{
  padding-right: 0;
}
.imageContainer{
  display: inline-block;
  text-align: center;
}
.displayImages{
  position: static;
  padding:10px;
  width: 400px;
  height:300px;
  object-fit: cover;
}
.mainImageContainer{
  height: 750px;
  width:100%;
  margin-bottom: 50px;
  display:flex;
}
.mainImage{
  height:100%;
  width:100%;
  object-fit: cover;
}
.secondSearch{
  display:flex;
  flex-direction: column;
  position: absolute;
  font-size: 1.5rem;
  /* justify-content: center; */
  z-index: 2;
  top: 40%;
  padding: 0 20%;
  width: 60%;
}
.secondSearch h1{
  color: white ;
}
.secondSearch p{
  color: white ;
}
.wholeSearch2{
  width:100%;
  border: solid 1px lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-right: 15px;
  background-color: white;

}
.searchBox2{
  border: none;
  outline: none;
  width: 100%;
  height: 95%;
  border-radius: inherit;
    
}

.searchButton2{
  width: 40px;
  background: url(https://cdn-icons-png.flaticon.com/512/108/108138.png?w=740&t=st=1685099654~exp=1685100254~hmac=ba716d8c926170341fbdc5ca03786b3ca18db838c4da1b610188e6cfdacb2f6a) no-repeat center;
  background-size: 15px;
  border: transparent;
  margin: 0.4rem 0;
  border-radius: inherit;
  opacity: 0.4;
}

.searchButton2:hover{
  opacity: 0.8;
  cursor: pointer;
}
.top{
  padding-top: 120px;
  margin: 0 0px 120px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;

  
}
.top h1{
  color: black;
  
}
.top p{
  color: black;
}
.top button{
  color: white;
  background-color: black;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}
.top img{
  height: 570px;
}
.topText{
  width: 30%;
}
.topText li{
  font-size: 1.2rem;
  line-height: 2;
}
.footer{
  display:flex;
  flex-direction: column;
  padding: 0 8%;
    
}
.footer h3{
  padding-bottom: 20px;
  color: black;
}
.footer p{
  line-height: 1.5;
  padding-bottom: 30px;
  color: black;

}
.footer a{
  text-decoration: none;
  line-height: 2;
}
.footerRow{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
  
}
.flexDiv{
  padding: 0 5% 0 0;
 
}
.flexDiv1{
  width: 30%;
}
.fin{
  padding: 20px 0;
}
 .fin a{
  padding: 0 30px 30px 0;
 }